.navbar ul li a{
  text-decoration: none;
  color: black;
}
.navbar ul{
  display: flex;
}
.navbar ul li{
  list-style: none;
  margin-right: 1.5em;
}
.navbar ul li a:hover{
  text-decoration: underline;
}
.home h2{
  margin-top: 0.5em;
}
.home ul{
  display: flex;
  justify-content: center;
}
.home ul h3{
  list-style: none;
}
.productitem .itemstructure img{
  height: 10rem;
}
.productitem .productitems{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.productitems .itemstructure{
  border: 2px solid black;
  margin: 1em;
  padding: 0.5em;
}
.cartitems .itemstructure img{
  height: 10rem;
}
.cartitems .itemstructure{
  border: 2px solid black;
  margin: 1em;
  padding: 0.5em;
}
.cartitems{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}